body {
  margin: 0;
  background-image: url(../regist_image/photo_2025-04-21_18-40-53.jpg);
  background-size: cover;
}

.theme {
  width: 90px;
  height: 20px;
  border-radius: 20px;
  background-color: #ac3030;
  color: white;
  margin-top: 30px;
  margin-left: 60px;
  margin-bottom: 0;
  justify-content: start;
}

.cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input[type="submit"],
input[type="button"] {
  justify-content: end;
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  font-size: 18px;
  background: #ac3030;
  color: white;
  border-radius: 15px;
  margin: 25px;
  margin-right: 50px;
  transition: 0.5s ease;
  padding: 10px;
}

input[type="button"]:hover {
  transform: scale(1.1);
}

.box {
  width: 600px;
  height: 580px;
  padding: 0px 50px;
  position: absolute;
  border-radius: 0 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
}

.box h1 {
  color: white;
  padding: 20px 20px;
  margin: 0;
  text-align: center;
}

.box label {
  color: white;
  font-size: large;
}

.box input {
  width: 100%;
  margin: 10px 0;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
  border: none;
  outline: none;
  height: 40px;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
  font-size: 18px;
}

.box input[type="button"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 18px;
  background: #ac3030;
  color: white;
  border-radius: 15px;
  margin-bottom: 25px;
  transition: 0.5s ease;
}

.box input[type="button"]:hover {
  transform: scale(1.05);
}

/* 
.box a {
    text-decoration: none;
    color: white;
} */
