body {
  font-family: sans-serif;
  text-align: top-right;
  background-color: #f9e0e0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.flip-card {
  width: 300px;
  height: 200px;
  margin: 50px auto;

}

.card-title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 18px;
  color: #721111;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card-back {
  overflow: visible;
  background-color: #721111;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  transform: rotateY(180deg);
  text-align: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

/* Navbar Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  top: 0;
  background: #ac3030;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-family: sans-serif;
  color: #220202;
  box-shadow: 0 4px 8px;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.dropdown {
  position: relative;
}

.hamburger {
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 5px;
}


.menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  border-radius: 5px;
  display: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.menu li a:hover {
  background: #ac3030;
  color: white;
}

.dropdown:hover .menu {
  display: block;
}

/* End of Navbar Styles */

/*theme */
.theme {
  width: 90px;
  height: 20px;
  border-radius: 20px;
  background-color: #ac3030;
  color: white;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 0;
}

/*end of theme */

/* special  */
.options-modal {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background: #f9e0e0;
  padding: 10px;
  border-radius: 8px;
  z-index: 100;
  margin-top: 5px;

}

.options-modal label {
  display: block;
  margin: 5px 0;
  color: #721111;
}

.button {
  background: #f9e0e0;
  padding: 8px 12px;
  border-radius: 5px;
  color: #721111;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}

.button2 {
  background: #721111;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}

.selected-options {
  margin-top: 10px;
  font-size: 14px;
  color: whitesmoke;
  background: #721111;
}


.coming-soon {
    width: 250px;
    margin: 30px auto;
    padding: 10px;
    background-color: #ac3030; 
    color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.coming-soon:hover {
    transform: scale(1.05);
    opacity: 0.9;
}