*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
   
    
}
body{
    background-color: #f9e0e0
} 
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9e0e0;


}
.page-title{
    font-size: 40px;
    font-weight: 600;
    margin:20px 0;
    text-align: center;
    color: #721111;
}
.navbar{
    background-color: #ac3030;
    border-radius: 4px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;  
    top: 0;
    color:#220202;
    box-shadow: 0 4px 8px;
   
    
}.dropdown {
    position: relative;
  }
  
  .hamburger {
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding-right: 20px;
    margin: 0;
  }
  
  
  .menu {
    position: absolute;
    background: white;
    border-radius: 5px;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: -3px;
    padding: 0;
    right: 20px;
  }
  
  .menu li {
    list-style: none;
    font-size: 18px;
  }
  
  .menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  .menu li a:hover {
    background: #ac3030;
    color: white;
  }
  
  .dropdown:hover .menu {
    display: block;
  }

.card-title{
    display: none;
}
.card-list .card-item{
    list-style: none;
} 
.card-list .card-item {
    width: 350px;
    display: block;
    background-color: #fff;
    padding: 18px;
    border-radius: 12px;
    margin: 10px 0 10px 0;
    box-shadow: 0 3px 10px #721111;
    border: 2px solid transparent;
    transition: 0.2s ease;

 }
 .card-list .card-item:hover {
    border-color: #721111;
 }

.card-list .card-item .card-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.card-list .card-item .badge {
    font-size: 20px;
    font-weight: 600;
    margin: 16px 0 18px;
    padding: 8px 16px;
    border-radius: 50px;
    text-align: center;
    background-color: #f9e0e0;
    color: #721111;
}
.card-list .card-item .card-title {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #721111;
} 


  .price-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card-price {
    font-size: 22px;
    font-weight: 700;
    color: #721111;
}
.brief-btn{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #fff;
    color: #721111;
    border: #721111 solid 2px;
    margin: 5px 0 2px;
    display: block;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.brief-btn:active{
    transform: scale(0.9);
}
.theme{
    width: 90px;
    height: 20px;
    border-radius: 20px;
    background-color:#ac3030;
    color: white;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 0;
    font-size: 15px;
   letter-spacing: 1px;
}
